{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <title>Smart Pig</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark colo_nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index'%}">Smart Pig</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'porco'%}">Porco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Financeiro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Medicamentos e Vacinas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Estoque</a>
            </li>
          </ul>
        </div>

        <div>
          Informações do usuário
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="container">
      <div class="row mb-3">
        <div class="col-3">
          <h2 style="color: #3F497F;"><img src="{% static 'img/porco.png'%}" style="width: 90px; height: 90px;"> Porco
          </h2>
        </div>
      </div>
      <section class="container-fluid col-12">
        <div class=" col-md-6 offset-md-3">
          <form action="{% url 'reg_porco' %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <label class="form-label" for="{{field.id_for_label}}">{{field.label}}:</label>
            {{field}}
            {% endfor %}
            <!--<div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>-->
            <div class="text-center">
              <button type="submit" class="btn btn-success">Salvar registro</button>
            </div>
          </form>
        </div>
      </section>
  </main>
  <footer class="bg-body-tertiary text-center text-lg-start mt-4">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>